<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> 债券代码 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> 债券简称 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="par">
    <mat-header-cell *matHeaderCellDef>持仓</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.par}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="updated">
    <mat-header-cell *matHeaderCellDef>更新日期</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.updated}}</mat-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="delete-button">
      <mat-header-cell *matHeaderCellDef fxFlex="48px"></mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="48px">
        <button mat-icon-button class="sidebar-toggle" matTooltip="删除记录" (click)="OnDelete(row)">
          <mat-icon class="secondary-text">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->

  <!-- Detail Button Column -->
  <ng-container matColumnDef="detail-button">
    <mat-header-cell *matHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="48px" fxHide.gt-md>
      <button mat-icon-button class="sidebar-toggle" fxHide.gt-md (click)="toggleSidebar('file-manager-details-sidebar')">
        <mat-icon class="secondary-text">info</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="OnSelect(row)" [ngClass]="{'mat-primary-50-bg':row == selected}">
  </mat-row>
</mat-table>