<div id="portfolio" class="page-layout simple right-sidebar inner-scroll">

    <div class="center" fxFlex>
        <!-- HEADER -->
        <div class="header mat-blue-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">

            <div fxLayout="column" fxLayoutAlign="left center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <span class="secondary-text">交易细节</span>
                </div>
            </div>
            <!-- <div>
                <button mat-raised-button>新增</button>
            </div> -->

            <div>
                <button mat-fab class="add-file-button mat-warn" (click)="onClickAdd()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <div class="content mat-white-bg" fusePerfectScrollbar>
            <app-trade-list></app-trade-list>
        </div>
    </div>
</div>